* {
  font-family: sans-serif;
  margin: 5px;
}

.titleHeader{
    color: brown;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

/* Navbar customization */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2e7e7b9;
  color: #fff;
  padding: 1rem;
  max-width: 100%;
}

/* Calculator styles */

.calculatorContainer {
  text-align: center;
  margin-top: 20px;
}

.calculatorHeader {
  font-size: 2em;
  margin-bottom: 20px;
}

.resultText {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.inputField {
  margin: 20px auto;
  display: block;
  padding: 10px;
  font-size: 1em;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}


/* This is for the dark mode button */

.switch {
  position: absolute;
  display: inline-block;
  right: 32px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
